#container {
    position: relative;
    /*centralizar layout css na tela*/
    margin-top: 0px;
    /*centralizar layout css na tela*/
    margin-right: auto;
    /*centralizar layout css na tela*/
    margin-bottom: 0px;
    /*centralizar layout css na tela*/
    margin-left: auto;
    /*centralizar layout css na tela*/
    width: 900px;
    /*comprimento da div*/
    height: 650px;
    /*altura da div*/
}

#topo {
    width: 900px;
    /*comprimento da div*/
    height: 200px;
    /*altura da div*/
    background-image: url(../html/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#menu {
    width: 900px;
    height: 40px;
    background-color: #5a07b9;
    word-spacing: 40px;
    /*espaço entre os links do menu*/
    padding-top: 20px;
}

#link1 {
    width: 30px;
    height: 15px;
    margin-left: 255px;
    float: left;
}

#link2 {
    width: 30px;
    height: 15px;
    margin-left: 70px;
    float: left;
}

#link3 {
    width: 30px;
    height: 15px;
    margin-left: 90px;
    float: left;
}

#link4 {
    width: 30px;
    height: 15px;
    margin-left: 70px;
    float: left;
}

#conteudo {
    width: 898px;
    min-height: 300px;
    /*pode aumentar altura de acordo a qtde de dados*/
    border: 1px solid #000;
    overflow: hidden;
    /*cria barra de rolagem automatica*/
}

.caixa {
    width: 289px;
    min-height: 300px;
    float: left;
    margin: 5px 5px 5px 5px;
    /*border:1px solid #000;*/
}

.img {
    width: 144px;
    height: 70px;
    float: left;
}

.imagem1 {
    margin-left: 65px;
}

#rodape {
    width: 880px;
    height: 45px;
    background-color: #5a07b9;
    padding: 10px 10px 10px 10px;
}

p {
    font-family: Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
    /*recuo para primeira linha de cada paragrafo*/
}

#menu a {
    font-family: Tahoma;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    /*retirar o sublinhado dos links*/
}

#menu a:hover {
    font-family: Tahoma;
    font-size: 20px;
    color: #FF6
}

h1 {
    font-family: "Arial Black";
    color: #000;
    text-align: center;
}

h2 {
    font-family: "Courier New";
    font-size: 18px;
    color: #000;
    font-stretch: semi-expanded;
}

h3 {
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}