#container {
    position: relative;
    /*centralizar layout css na tela*/
    margin-top: 0px;
    /*centralizar layout css na tela*/
    margin-right: auto;
    /*centralizar layout css na tela*/
    margin-bottom: 0px;
    /*centralizar layout css na tela*/
    margin-left: auto;
    /*centralizar layout css na tela*/
    width: 900px;
    /*comprimento da div*/
    height: 650px;
    /*altura da div*/
}

#topo {
    width: 900px;
    /*comprimento da div*/
    height: 200px;
    /*altura da div*/
    background-image: url(../html/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#menu {
    width: 900px;
    height: 40px;
    background-color: #5a07b9;
    word-spacing: 40px;
    /*espaço entre os links do menu*/
    padding-top: 20px;
}

#link1 {
    width: 30px;
    height: 15px;
    margin-left: 255px;
    float: left;
}

#link2 {
    width: 30px;
    height: 15px;
    margin-left: 70px;
    float: left;
}

#link3 {
    width: 30px;
    height: 15px;
    margin-left: 90px;
    float: left;
}

#link4 {
    width: 30px;
    height: 15px;
    margin-left: 70px;
    float: left;
}

#conteudo {
    width: 898px;
    min-height: 300px;
    /*pode aumentar altura de acordo a qtde de dados*/
    border: 1px solid #000;
    overflow: hidden;
    /*cria barra de rolagem automatica*/
}

.formulario {
    width: 325px;
    min-height: 400px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 75px;
    float: left;
    /*border:1px solid #000;*/
}

.mapa {
    width: 325px;
    min-height: 400px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 85px;
    float: left;
    /*border:1px solid #000;*/
}

#rodape {
    width: 880px;
    height: 45px;
    background-color: #5a07b9;
    padding: 10px 10px 10px 10px;
}

p {
    font-family: Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
    /*recuo para primeira linha de cada paragrafo*/
}

#menu a {
    font-family: Tahoma;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    /*retirar o sublinhado dos links*/
}

#menu a:hover {
    font-family: Tahoma;
    font-size: 20px;
    color: #FF6
}

h1 {
    font-family: "Arial Black";
    color: #000;
    text-align: center;
}

h2 {
    font-family: "Courier New";
    font-size: 14px;
    color: #000;
    font-stretch: semi-expanded;
}

h3 {
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

/*Estilo para o formulario de contato*/
label {
    display: block;
    /*deixando os labels um acima do outro*/
    margin: 5px 0 5px 0;
}

label span

/*formatando os identificadores dos campos do formulario*/
    {
    display: block;
    width: 80px;
    margin-top: 2px;
    float: left;
}

input,
textarea,
select {
    color: #336699;
    width: 200px;
    border: solid 1px #006699;
}

select

/*select com largura automática*/
    {
    width: auto;
}

textarea {
    height: 100px;
    overflow: auto;
    /*criar barra de rolagem automaticamente*/
    max-width: 196px;
    max-height: 120px;

}

button

/*estilo para o button enviar do formulario*/
    {
    background-color: #0099CC;
    color: #FFF;
    font-weight: bold;
    /*negrito*/
    margin-top: 10px;
    border: none;
    /*button sem borda*/
}